body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: #a62929;
    text-align: center;
    text-decoration: red underline ;
}
h3{
    text-align: center;
    color: black;
}
h4{
    text-align: center;
}
p{
    color: red;
    line-height: 30px;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(0, 128, 0);
    
}
textarea{
    color: black;
}
button{
    background-color: white;
    color: blueviolet;
}